.section--margin {
   width: 100%;
    margin: 0px auto;
    background-color: #F5F4FA;
 }
 
.card{ 
  list-style: none;
  margin-top: 0px;  
  margin-bottom: 0px;
  margin-left: 0px;
   
  
  
  
  &__foto {
    width:100%;
    background: #ffffff;  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 480px){
      width: 100%;
      
    }
  
    
    @media screen and (min-width: 480px){
      width: 450px;
      
    }
    @media screen and (min-width: 768px){
      width: 354px;      
    }

    @media screen and (min-width: 1200px){
      width: 270px;     
    }
  } 
  
  &__blok {
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   
    
  }
  
  &__profession--decor {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 16px;
  }
  
  &__name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
     margin-bottom: 10px;
   }
   
   &__profession{
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--textgre-color);
     margin-bottom: 16px;
   }

} 

.card--decor{
  
 
     display: flex; 
     flex-wrap: wrap;
     justify-content: center;
     
   
  
   @media screen and (min-width: 768px) {
     justify-content: space-between;
   }
}

.card_li:not(:last-child) {

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
 
  
}

.card_li{

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.card_li:nth-child(n + 2){

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }

}



 
