.portfolishdow {
   box-shadow: 0px 0px 0px rgba(244, 246, 245, 0),
     0px 0px 0px rgba(123, 123, 123, 0), 0px 0px 0px rgba(244, 246, 244, 0);
   transition-duration: 250ms;
   transition-property: box-shadow;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:focus,
   &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      display: block;
      }
  }
 

 