.portfoliofoto {
  box-sizing: border-box;
  @media screen and(min-width:1200px) {
   width: 370px;
 }
 @media screen and(min-width:768px) {
   width: 354px;
 }
 @media screen and(max-width:479px) {
  width: 100%;
}

 @media screen and(max-width:767px) {
   width: 450px;
 }



  background: #ffffff;
}
.textbotoomboxportfolio {
   @media screen and(min-width:1200px) {
      width: 370px;
    }
    @media screen and(min-width:768px) {
      width: 354px;
    }
    @media screen and(max-width:479px) {
      width: 100%;
    }
   
    @media screen and(max-width:767px) {
      width: 450px;
    }
    
   

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

// button&foto position

.butwork:not(:last-child) {
  margin-right: 8px;
  justify-content: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.st-no-point.flex-box > li {
  @media screen and(min-width:1200px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
   margin-right: 30px;
   margin-bottom: 30px;
 }
  @media screen and(max-width:768px) {
    margin-right: 0;
    margin-bottom: 30px;
    justify-content: center;
  }
}

.st-no-point.flex-box > li:nth-last-child(-n + 3) {
  @media screen and(min-width:1200px) {
    margin-bottom: 0px;
  }
}
.st-no-point.flex-box > li:nth-child(2n) {
  @media screen and(min-width:768px) {
    margin-right: 0px;
  }
  @media screen and(min-width:1200px) {
   margin-right: 30px;
  }

}
.st-no-point.flex-box > li:last-child {
  @media screen and(min-width:768px) {
    margin-right: auto;
    margin-bottom: 0;
  }
}
.st-no-point.flex-box > li:nth-child(3n) {
   @media screen and(min-width:1200px) {
     margin-right: 0px;
   }
 }
