.socialiconsfooter {
   display: flex;
   flex-direction: column;
   width: 44px;
   height: 44px;
   border-radius: 22px;
   background-color: rgba(255, 255, 255, 0.1);
   justify-content: center;
   align-items: center;
   fill: #ffffff;
 
   transition-duration: 250ms;
   transition-property: background-color, fill;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:focus,
   &:hover {
     fill: #ffffff;
     background-color: #2196f3;
   }
 }
 
 