 
 body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;  
 }
 
 .container {
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 0px;
   width: 1200px;
   margin: 0px auto;
 }
 
 .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }

 .sectfoot {
  
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}


 img {
   display: block;
   max-width: 100%;
   height: auto;
 }



.st-no-point {
  display: flex;
}

.whataround
 {
  justify-content: space-between;
}
.containera--dekor {
  display: flex;
 }