h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
li,
a {
  margin: 0px 0px;
  padding: 0px 0px;
}


.st-no-line {
  text-decoration: none;
  color: currentcolor;
  margin-bottom: 0px;
  margin-left: 0px;
}
.st-no-point { 
  list-style: none;
  margin-top: 0px;
  color: currentcolor;
  margin-bottom: 0px;
  margin-left: 0px;
}

.st-no-pointfoot {
  margin-top: 0px;
  margin-bottom: 0px;
}




