
%margin_nul_t_b {   
  margin-top: 0px;
  margin-bottom: 0px;  
}


h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;  
}
ul,
li,
a {
  margin: 0px 0px;
  padding: 0px 0px;
  list-style: none;
  margin-right: 0px;
  text-decoration: none;
  text-decoration: none;
}


.st-no-line {
  text-decoration: none;
  color: currentcolor;
  margin-bottom: 0px;
  margin-left: 0px;
}


.st-no-point { 
  list-style: none;
  color: currentcolor;
  margin-top: 0px;
  margin-bottom: 0px;  
  margin-left: 0px;
}

.st-no-pointfoot {
  margin-top: 0px;
  margin-bottom: 0px;  
}




